<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpandableTableView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77B672271C51F0BE002BA6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B6723B1C51F0BE002BA6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B672461C51F0BE002BA6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
